*{
    margin: 0px;
    padding: 0px;
}
div{
    height: 200px;
    width: 200px;
    border-radius: 2px solid;
    display: inline-block;
    margin:10px auto;
    margin-left: 60px;
    padding: 10px;
    
}
#one{
    border: 3px solid blue;
}
#two{
    border: 3px solid green;
}
#three{
    border: 3px solid orange;
}
#four{
    border: 3px solid purple;
}
nav{
    background-color: black;
    height: 100px;
    width: 100%;
    color: white;
}
h3{
    padding-top: 30px;
}
button{
    background-color: black;
    color: white;
    height: 30px;
    width: 99px;
}
b{
    display: block;
}
#last_card{
    border: 3px solid blue;
    height: 200px;
    width: 200px;
    margin-left: 450px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid;
}